In [15]:
# Imports
import os
import pandas as pd
import glob

In [58]:
# get data for caroline acc

path =r'C:/Users/cdeba/Desktop/IoT Assignment/Genereated Datasets/CarolineAcelerometer'

filenames = glob.glob(path + "/*.csv")

dfs = []


for filename in filenames:
    
    dfs.append(pd.read_csv(filename, skiprows=[30], skipfooter=30, engine='python'))
    
User1_Acc = pd.concat(dfs, ignore_index=True)

#rename columns to match with yours
User1_Acc.columns = ['User', 'Activity', 'timestamp', 'x', 'y', 'z','timeInterval', ''] 
User1_Acc

,User,Activity,timestamp,x,y,z,timeInterval,
0,Caroline,C,2020-05-05 20:33:06.331 +0000,-0.724640,0.695557,-0.041260,1588710786,NaN
1,Caroline,C,2020-05-05 20:33:06.341 +0000,-0.746277,0.697021,-0.014206,1588710786,NaN
2,Caroline,C,2020-05-05 20:33:06.351 +0000,-0.772491,0.689316,0.018372,1588710786,NaN
3,Caroline,C,2020-05-05 20:33:06.360 +0000,-0.749878,0.662033,-0.039490,1588710786,NaN
4,Caroline,C,2020-05-05 20:33:06.370 +0000,-0.716553,0.644669,-0.070908,1588710786,NaN
...,...,...,...,...,...,...,...,...
83939,Caroline,J,2020-05-05 20:31:09.182 +0000,-0.630753,-0.435059,-0.656250,1588710669,NaN
83940,Caroline,J,2020-05-05 20:31:09.192 +0000,-0.627304,-0.435486,-0.652649,1588710669,NaN
83941,Caroline,J,2020-05-05 20:31:09.202 +0000,-0.622620,-0.433762,-0.655396,1588710669,NaN
83942,Caroline,J,2020-05-05 20:31:09.212 +0000,-0.622253,-0.433304,-0.660706,1588710669,NaN
83943,Caroline,J,2020-05-05 20:31:09.222 +0000,-0.618698,-0.432709,-0.665344,1588710669,NaN

In [60]:
# get data for caroline GYRO

path =r'C:/Users/cdeba/Desktop/IoT Assignment/Genereated Datasets/CarolineGyro'

filenames = glob.glob(path + "/*.csv")

dfs = []


for filename in filenames:
    
    dfs.append(pd.read_csv(filename, skiprows=[30], skipfooter=30, engine='python'))
    
User1_Gyro = pd.concat(dfs, ignore_index=True)

#rename columns to match with yours
User1_Gyro.columns = ['User', 'Activity', 'timestamp', 'x', 'y', 'z','timeInterval'] 
User1_Gyro

,User,Activity,timestamp,x,y,z,timeInterval
0,Caroline,C,2020-05-05 20:33:06.333 +0000,0.112736,0.007638,-0.155677,1588710786
1,Caroline,C,2020-05-05 20:33:06.343 +0000,0.070164,0.031881,-0.174039,1588710786
2,Caroline,C,2020-05-05 20:33:06.353 +0000,0.080403,0.035288,-0.133577,1588710786
3,Caroline,C,2020-05-05 20:33:06.363 +0000,0.096732,-0.019505,-0.054906,1588710786
4,Caroline,C,2020-05-05 20:33:06.373 +0000,0.100437,-0.023170,-0.003849,1588710786
...,...,...,...,...,...,...,...
83927,Caroline,J,2020-05-05 20:31:09.186 +0000,0.055250,0.135727,0.028274,1588710669
83928,Caroline,J,2020-05-05 20:31:09.196 +0000,0.047248,0.151050,0.016836,1588710669
83929,Caroline,J,2020-05-05 20:31:09.206 +0000,0.042645,0.166753,0.001830,1588710669
83930,Caroline,J,2020-05-05 20:31:09.216 +0000,0.037354,0.182511,-0.013398,1588710669
83931,Caroline,J,2020-05-05 20:31:09.226 +0000,0.030580,0.199989,-0.023350,1588710669

In [62]:
# get data for Luca acc

path =r'C:/Users/cdeba/Desktop/IoT Assignment/Genereated Datasets/LucaAcelerometer'

filenames = glob.glob(path + "/*.csv")

dfs = []


for filename in filenames:
    
    dfs.append(pd.read_csv(filename, skiprows=[30], skipfooter=30, engine='python'))
    
User2_Acc = pd.concat(dfs, ignore_index=True)

#rename columns to match with yours
User2_Acc.columns = ['User', 'Activity', 'timestamp', 'x', 'y', 'z','timeInterval'] 
User2_Acc

,User,Activity,timestamp,x,y,z,timeInterval
0,Luca,A,2020-05-05 15:10:34.185 +0000,-0.354507,-0.107422,-0.916458,1588691434
1,Luca,A,2020-05-05 15:10:34.195 +0000,-0.339661,-0.087509,-0.927399,1588691434
2,Luca,A,2020-05-05 15:10:34.205 +0000,-0.328033,-0.074066,-0.933502,1588691434
3,Luca,A,2020-05-05 15:10:34.215 +0000,-0.313065,-0.079727,-0.941757,1588691434
4,Luca,A,2020-05-05 15:10:34.225 +0000,-0.313248,-0.094803,-0.937439,1588691434
...,...,...,...,...,...,...,...
104070,Luca,J,2020-05-05 14:59:50.171 +0000,-0.505249,-0.602600,-0.528610,1588690790
104071,Luca,J,2020-05-05 14:59:50.181 +0000,-0.508636,-0.630020,-0.520172,1588690790
104072,Luca,J,2020-05-05 14:59:50.191 +0000,-0.510132,-0.653610,-0.515594,1588690790
104073,Luca,J,2020-05-05 14:59:50.201 +0000,-0.501389,-0.668503,-0.517197,1588690790
104074,Luca,J,2020-05-05 14:59:50.211 +0000,-0.484573,-0.675278,-0.522552,1588690790

In [ ]:
# get data for Luca gyro

path =r'C:/Users/cdeba/Desktop/IoT Assignment/Genereated Datasets/LucaGyro'

filenames = glob.glob(path + "/*.csv")

dfs = []


for filename in filenames:
    
    dfs.append(pd.read_csv(filename, skiprows=[30], skipfooter=30, engine='python'))
    
User2_Gyro = pd.concat(dfs, ignore_index=True)

#rename columns to match with yours
User2_Gyro.columns = ['User', 'Activity', 'timestamp', 'x', 'y', 'z','timeInterval'] 
User2_Gyro